html, body{
  height:100%
  margins:0px;
 }

object{
  width:800px;
  height:1000px;
}

.full-height{
 height:100%;
 margin:0;
}

.title-word{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-size:50px;
}


.title-word-2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  font-size:35px;
  color:rgb(17, 185, 185);
  font-style:italic
}

.box-content{
  background-color: rgb(237, 220, 173);
  width:700px;
  height:1000px;
  margin-left:50px;
  }

.box-content-2{
  background-color: rgb(237, 220, 173);
  height:1000px;
  width:700px;
  margin-left:30px;   
  }

  .box-content-3{
    background-color: white;
    height:900px;
    width:1400px;
    margin-left:80px;
     
    }
span{
  background-color: rgb(17, 185, 185);
  color:white;
  font-size:28px;
  font-style:strong;
}

.roundedbox{
    background: white;
    width: 1420px;
    height: 50px;
    border-radius: 24px;
    margin-left:70px;
    margin-bottom:50px;
}



.navbar{
  background-color:rgb(240, 205, 117)
}

  @media (max-width: 600px){
    .navbar li{
      float:left;
      visibility:visible;
    }

    
    .navbar{
      background: rgb(17, 185, 185);
;
    }
  }
body{
  background-color:lightgoldenrodyellow;
  /* background-image:url(../images/music-1f.jpg); */
  
}

h2{
  border-bottom: 0.1px solid lightslategray;
  padding-bottom:30px;
}

/* img{
  fill:lightgrey;
  }
.gallery{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  grid-template-rows:repeat(1, 5vw);
  grid-gap:10px;
}

.gallery__img{
  width: 100%;
  height:100%;
  object-fit:cover;
  }

.gallery__item--1{
  grid-column-start: 8;
  grid-column-end:10;
  grid-row-start:1;
  grid-row-end:4;
}

.gallery__item--2{
  grid-column-start: 10;
  grid-column-end:12;
  grid-row-start:1;
  grid-row-end:4;
}

.gallery__item--3{
  grid-column-start: 8;
  grid-column-end:10;
  grid-row-start:4;
  grid-row-end:7;
}

.gallery__item--4{
  grid-column-start: 10;
  grid-column-end:12;
  grid-row-start:4;
  grid-row-end:7;
}

.gallery__item--5{
  grid-column-start: 1;
  grid-column-end:6;
  grid-row-start:1;
  grid-row-end:4;
}

.gallery__item--6{
  grid-column-start: 7;
  grid-column-end:12;
  grid-row-start:1;
  grid-row-end:4;
}

.gallery__item--7{
  grid-column-start: 1;
  grid-column-end:6;
  grid-row-start:4;
  grid-row-end:7;
}

.gallery__item--8{
  grid-column-start: 7;
  grid-column-end:12;
  grid-row-start:4;
  grid-row-end:7;
} */

/*  FROM DART change this from `span` to a class so that this formatting
    does not apply to every `span` tag. It would be better to change
    this to a class

    I changed this from `span` to .navbar-button
*/
.navbar-button {
  background:rgb(17, 185, 185);
  font-size:40;
  color:white;
}

nav ul li{
  float:right;
  font-family:'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-style: strong;
  font-size: 20px;
}

.collapse navbar-collapse navbar-nav mr-auto nav-item{
  text-align: right;
}

p{
  text-align: justify;
}

h2{
  color:rgb(17, 185, 185)
}

section{
  float:left;
  padding-left:1500;
  padding-top:-6000;
}

textarea{
  height:30;
  float:right;
  font-size:10;
  width:30%;
  text-align: right;
  border:none
} 
.roundedbox-2{
  background: #fff;
  width: 1450px;
  height: 50px;
  border-radius: 24px;
  margin-left:70px;
  margin-bottom:50px;
  margin color:black;
}
  
.vertical-menu {
  width: 175px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; 
  color: blue; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 20px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  margin-left:30px;
  font-size:20px;
  font-style:bold;
  }

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

text{
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}
text.title{
  font-size: 24px;
  font-weight: 500;
}
text.subTitle{
  font-weight: 500;
  fill: #777777;
}
text.caption{
  font-weight: 400;
  font-size: 14px;
  fill: #777777;
}
text.label{
  font-weight: 600;
}
text.yearText{
  font-size: 64px;
  font-weight: 700;
  opacity: 0.25;
}
.tick text {
  fill: #777777;
}
.xAxis .tick:nth-child(2) text {
  text-anchor: start;
}
.tick line {
  shape-rendering: CrispEdges;
  stroke: #DDDDDD;
}
.tick line.origin{
  stroke: #AAAAAA;
}
path.domain{
  display: none;
}
