<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Music Through the Years</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<body>
  <!-- Creates the Overall Grid -->

  <nav class="navbar navbar-expand-lg navbar -white">
    <a class="navbar-brand" href="Index.html">

      <span class="navbar-button">Home</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav navbar-nav navbar ml-auto">

        <li class="nav-item">
          <a class="nav-data" href="Machine.html">&nbsp; &nbsp; Probabilistic Lyric Generator &nbsp; &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-comparison" href="Artist.html">Artists &emsp14;</a>
        </li>

        <li class="nav-item">
          <a class="nav-data" href="Songs.html">&nbsp; &nbsp; Songs & Lyrics &nbsp; &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-comparison" href="History.html">Historical Effects on Lyrics &emsp14;</a>
        </li>
      </ul>

    </div>
  </nav>







  <div class="jumbotron-fluid">

    <img src="{{ url_for('static', filename='images/music2.jpg') }}" , class="img-fluid"></img>




    <h1 style="padding:0 500px"> Music Through the Years</h1>
    <h2 style="padding:0 550px">Artists - 60 yrs of Music</h2>
    <br>

    <h7>Vectors courtesy of:</h7> <a href="https://www.vecteezy.com/"> Vectors by Vecteezy</a>

  </div>
  <br>

  <!-- <div class="row">

      <div class="col-md-5 col-sm-12">

      </div>

      <div class="col-md-5 col-sm-12">
        <div class="dropdown-text-center">
          <span>Choose the decade</span>
          <select id="selDecade" onchange="optionChanged(this.value)">
            <option value="1950">1950s</option>
            <option value="1960">1960s</option>
            <option value="1970">1970s</option>
            <option value="1980">1980s</option>
            <option value="1990">1990s</option>
            <option value="2000">2000 - 2010</option>
            <option value="2011">2010 to current</option>

          </select>
        </div>
      </div>

    </div>
    <br>
    <br> -->





  <div class="roundedbox">
    <h2 style="padding:0 600px">Visualizations</h2>
    <html>
    <br>
    <br>

  </div>

  <!-- Row 2 -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="box-content-3">



        <!-- <h2>Visualizations</h2> -->
        <!-- <div class="row"> -->

        <!-- <div id="Historical-Music-Charts"> -->

        <!-- </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box-content-2">
          <br>
          
          <h5>The following historical events occurred during the decade selected.</h5>
         <br>
         <br>
         
          <div id="Chart1">
                           
         

        </div> -->


        <div id="HorizontalChart">

          <div id="observablehq-1e993c13"></div>
          <script type="module">
            import { Runtime, Inspector } from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
            import define from "https://api.observablehq.com/@wfinneran/bar-chart-race-explained.js?v=3";
            const inspect = Inspector.into("#observablehq-1e993c13");
            (new Runtime).module(define, name => (name === "title") && inspect());
          </script>


          <div id="observablehq-0d0c4700"></div>
          <script type="module">
            import { Runtime, Inspector } from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
            import define from "https://api.observablehq.com/@wfinneran/bar-chart-race-explained.js?v=3";
            const inspect = Inspector.into("#observablehq-0d0c4700");
            (new Runtime).module(define, name => (name === "chart") && inspect());
          </script>

        </div>
      </div>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/logic2.js') }}"></script>







</body>

</html>